
ion-toolbar {
    --background: #d22b32 !important;
    color: white;
}

ion-content {
    --background: url('/assets/images/_bg-img-white.png') no-repeat bottom;
} 

form { 
    ion-item {
        border: 2px solid #ebebeb;
        margin-left: 10px;
        margin-right: 10px;
        ion-input {
            color: gray;
        }

    }
    .label {
        border: none;
        font-size: large;
        margin: 0 0 10px 0;

    }
}


.btnSend {
    margin: 14px 10px 0 10px;
}

.header {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;

    .title {
        text-align: center;
        color:black;
        font-size: 0.8em;
        margin-bottom: -10px;
    }

    ion-buttons {
        margin-top: 15px;
        position: relative;
    }

    .logo {
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            width: 280px;
        }
    }

}

ion-label ion-icon {
    //transform: translate(5%, 25%);
    font-size: 2em;
    color: gray;
}

ion-input {
    -ms-input-placeholder: 0.8em !important;
}

.ion-padding .padding .connexion, .inscription ion-input {
    color: #abefff;
}
.ion-padding .padding ion-label {
    font-weight: bold;
}
.notification-icon {
    margin-right: 5px;
}
.error-message {
    color: #f55;
    display: flex;
    justify-content: center;
    font-size: smaller;
}
