
<!-- version française -->
<ion-content>
  <ion-toolbar>
    <!-- button placed to the top start -->
    <ion-buttons slot="start">
      <ion-button routerLink="/signin" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>&nbsp;&nbsp;&nbsp;<b>Mot de passe oublié</b></ion-label>
  </ion-toolbar>
  <div class="header">
    <div class="logo ion-padding-top">
      <img src="assets/images/logo.png">
    </div>
  </div>
  <br/>
  <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
    <ion-item class="label" lines="none">
      <ion-label><b>Entrez votre adresse mail </b></ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-icon slot="start icon-only" name="Mail"></ion-icon>
      </ion-label>
      <ion-input type="email" formControlName="forgotEmail" [(ngModel)]="user.userData.email" color="light" placeholder="Adresse mail"></ion-input>
    </ion-item>
    <!-- E-mail error message -->
    <div *ngFor="let error of ForgotErrorMessages.email">
      <ng-container *ngIf="error.lang=='fr' && forgotEmail.hasError(error.type) && (forgotEmail.dirty || forgotEmail.touched)">
          <small class="error-message"><ion-icon name="alert-circle-outline" slot="start"></ion-icon>&nbsp;{{ error.message }}</small>
      </ng-container> 
    </div>
    <br />
    <ion-button class=" btnSend action-button" [disabled]="!forgotForm.valid" (click)="forgot(user.userData.email)" color="danger" expand="block">Envoyer</ion-button>
    <br />
  </form>
</ion-content>
